[submodule "libGadget"]
	path = libGadget
	url = https://github.com/ETCLabs/libGadget.git
[submodule "RDM"]
	path = RDM
	url = https://github.com/ETCLabs/RDM.git
[submodule "EtcPal"]
	path = EtcPal
	url = https://github.com/ETCLabs/EtcPal.git
